:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 90vh;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  img{
    width: 100px;
    height: 100px;
  }

  a{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 10px;
    margin-right: 30px;
  
  }
}

.body-home {
  background-image: url('src/img/home.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.body-login {
  background-image: url('src/img/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.body-register {
  background-image: url('src/img/bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  width: 50%;
  padding: 10px;
  margin-top: 34px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  background-color: black;
  border: none;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
